h1 {
    padding: 40px;
    border: 2px solid black;
    text-align: center;
}

.title {
   padding: 10px;    
}

.navbar {
    background-color: linear-gradient rgb(218, 209, 209);
}

.container {
    padding: 20px;
    font-family: cursive;
}

body {
    background: linear-gradient(rgb(218, 209, 209), rgb(39, 130, 167)); 
}

.title {
    font-size: 30px;
    font-family: cursive;
}

.button {
    text-align: center;
}