body  {
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel {
    padding-bottom: 25px;
    
}

.footer {
    background-color: rgb(29, 119, 221);
    
}

.fcolor {
    padding-top: 20px;
}

